
/*.content h5{*/
    /*padding: 30px 10px !important;*/
    /*font-size: 35px;*/
/*}*/
/*.def {*/
    /*background-color: #0b2240;*/
    /*height: 50px;*/
    /*margin-top: 40px;*/
/*}*/
/*.invice-text {*/
    /*font-size: 35px;*/
    /*font-size: 35px !important;*/
    /*font-weight: bold;*/
    /*color: #fff;*/
    /*margin: 0 auto;*/
    /*display: table;*/
/*}*/

/*#mahir-icon-top{*/
    /*display: block !important;*/
    /*margin: 0 auto !important;*/
    /*text-align: center !important;*/
    /*padding: 30px 0;*/
    /*background-color: #fff;*/
    /*border-radius: 60%;*/
    /*box-shadow: 0px 0px 8px #cbcbcb;*/
    /*height: 140px;*/
    /*width: 140px;*/
/*}*/

/*.invoice-to p {*/
    /*margin-bottom: 1px;*/
/*}*/

/*.invoice-to span {*/
    /*font-size: 20px;*/
/*}*/
/*.right-invoice strong{*/
    /*padding: 0 0 0 135px;*/
/*}*/
/*.right-invoice p{*/
    /*font-size: 20px;*/
    /*font-weight: bold;*/
/*}*/
/*.right-invoice{*/
    /*padding: 64px 0 0 0px;*/
/*}*/
/*.right-invoice strong{*/
    /*font-size: 20px;*/
/*}*/
/*.cstm-table thead{*/
    /*background-color: #0b2240 !important;*/
    /*color:#fff !important;*/
/*}*/
/*.sub-total{*/
    /*padding: 15px;*/
/*}*/
/*.right-sub-total{*/
    /*font-size: 20px;*/
    /*font-weight: bold;*/
/*}*/
/*.right-sub-total{*/
    /*padding: 3px 0 0 40px;*/
    /*font-weight: 600;*/
/*}*/

/*.right-sub-total strong{*/
    /*padding: 0 0 0 135px;*/
/*}*/
/*.buss-text{*/
    /*font-weight: 600;*/

/*}*/
/*.terms p{*/
    /*font-weight: 600;*/
    /*margin-bottom: -4px;*/
/*}*/
/*.terms strong{*/
    /*font-weight: normal;*/
    /*font-size: 11px;*/
/*}*/
/*.total-right{*/
    /*padding: 3px 0 0 40px;*/
/*}*/
/*.total-right p{*/
    /*font-weight: 600;*/
    /*font-size: 20px;*/
/*}*/
/*.inner-cstm-table td{border-top:none !important;}*/
/*.total-right{*/
    /*background-color: #0b2240 !important;*/
/*}*/

/*.bg{*/
    /*background-color: #0b2240 !important;*/
    /*color: #fff;*/
/*}*/

/*.payment{*/
    /*padding:25px 0 0 0;*/
/*}*/

/*.Authorized {*/
     /*background-color: #0b2240;*/
     /*height: 10px;*/
 /*}*/
/*.cstm-nav{*/
    /*list-style: none;*/
    /*display: inline-flex;*/
/*}*/
/*.cstm-nav li{*/
    /*padding: 0 30px 0 0px;*/
    /*}*/
/*.cstm-nav li a{*/
    /*color: black;*/
    /*font-weight: 600;*/
/*}*/
/*.print-btn{*/
    /*display: block;*/
    /*margin:0 auto;*/
    /*padding: 5px 45px;*/
    /*border: 1px solid #ce171f;*/
    /*border-radius: 5px;*/
    /*color: #fff !important;*/
    /*background: #ce171f;*/
    /*cursor: pointer;*/
/*}*/
/*.print-btn:hover{*/
    /*outline: none;*/
/*}*/

/*.invoice-to strong{*/
    /*color: #545151 !important;*/
/*}*/

/*.count-td{*/
    /*color: #545151 !important;*/
/*}*/

/*.date-td{*/
    /*color: #545151 !important;*/
/*}*/
/*.invoice-desc-sec {*/
    /*padding: 15px 15px 0;*/
/*}*/

 /*!*for print styling*!*/
/*@media print {*/
    /*body{background: #fff !important;}*/
    /*.def{*/
        /*background: #0b2240;*/
    /*}*/
    /*.cstm-table thead{*/
        /*background: #0b2240 !important;*/
        /*color: #000 !important;*/
        /*-webkit-print-color-adjust: exact;*/
    /*}*/
    /*.bg {*/
        /*background: #0b2240 !important;*/
        /*color: #000 !important;*/
        /*-webkit-print-color-adjust: exact;*/
    /*}*/
    /*.print-btn{*/
        /*display: none !important;*/
    /*}*/
    /*#mahir-icon-top{*/
        /*display: block !important;*/
        /*margin: 0 auto !important;*/
        /*text-align: center !important;*/
        /*padding: 30px 0 !important;*/
        /*background-color: #fff !important;*/
        /*border-radius: 60% !important;*/
        /*box-shadow: 0px 0px 8px #cbcbcb !important;*/
        /*height: 140px !important;*/
        /*width: 140px !important;*/
    /*}*/

    /*.cstm-table thead tr th {*/
        /*background: #0b2240 !important;*/
        /*color: #fff;*/
       /*}*/
    /*.bg{*/
        /*background: #0b2240 !important;*/
        /*color: #fff;*/
    /*}*/
    /*.Authorized {*/
        /*background: #0b2240;*/
        /*height: 10px;*/
    /*}*/


/*}*/
 /*!*My style*!*/
/*p {*/
    /*line-height: .5;*/
/*}*/
/*.container {*/
    /*width: 750px;*/
    /*margin: auto;*/
    /*font-size: 16px;*/
    /*font-family: Trebuchet MS;*/
/*}*/
/*.head {*/
    /*min-height: 60px;*/
    /*overflow: hidden;*/
/*}*/
/*.head-left{*/
    /*overflow: hidden;*/
    /*float: left;*/
/*}*/
/*.logo {*/
    /*height: 100px;*/
    /*float: left;*/
/*}*/

/*.logo img{*/
    /*width: 150px;*/
    /*height: 77px;*/
/*}*/

/*.company-name {*/
    /*overflow: hidden;*/
/*}*/

/*.company-name h1{*/
    /*font-family: arial;*/
    /*font-size:30px;*/
    /*color: #546DAD;*/
    /*font-weight: normal;*/
/*}*/

/*.head-right {*/
    /*overflow: hidden;*/
/*}*/

/*.head-right h1{*/
    /*font-family: arial;*/
    /*font-size:32px;*/
    /*color: #71A7D7;*/
    /*text-transform: uppercase;*/
    /*text-align: right;*/
/*}*/

/*.bill-statement {*/
    /*overflow: hidden;*/
/*}*/

/*.bill h1{*/
    /*font-family: arial;*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
/*}*/
/*.bill{*/
    /*float: left;*/
/*}*/

/*.statement{*/
    /*overflow: hidden;*/
    /*float: right;*/
/*}*/
/*.statement input[type='text']{*/
    /*width: 120px;*/
/*}*/

/*.statement table tr td{*/
    /*font-weight: bold;*/
/*}*/

/*.remittance-account {*/
    /*overflow: hidden;*/
/*}*/

/*.remittence {*/
    /*float: left;*/
/*}*/

/*.remittance-name{*/
    /*float: left;*/
    /*width: 60%;*/
    /*margin-right: 2%;*/
/*}*/

/*.account-name{*/
    /*overflow: hidden;*/
    /*width: 38%;*/
/*}*/

/*.remittance-name h1{*/
    /*font-family: arial;*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
    /*background: #d4d4d4;*/
    /*padding: 5px 20px;*/
/*}*/

/*.account-name h1{*/
    /*font-family: arial;*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
    /*background: #AEC1F3;*/
    /*padding: 5px 20px;*/
/*}*/
/*.account {*/
    /*overflow: hidden;*/
    /*float: right;*/
    /*padding-left: 20px;*/
/*}*/

/*.account input[type='text']{*/
    /*width: 70px;*/
/*}*/

/*.account h2{*/
    /*font-family: arial;*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
/*}*/

/*.mainBody h2{*/
    /*font-family: arial;*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
/*}*/

/*.mainBody table{*/
    /*border-collapse: collapse;*/
/*}*/

/*.footer {*/
    /*padding-top: 10px;*/
/*}*/
/*.footer h2{*/
    /*font-family: arial;*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
/*}*/

/*.left-padding {*/
    /*padding-left: 40px;*/
/*}*/

/*.date-td{*/
    /*color: #545151 !important;*/
/*}*/
/*.invoice-desc-sec {*/
    /*padding: 15px 15px 0;*/
/*}*/

/*!*!* for print styling*!*/
/*@media print {*/
    /*body{background: #fff !important;}*/
    /*.def{*/
        /*background: #0b2240;*/
    /*}*/
    /*.cstm-table thead{*/
        /*background: #0b2240 !important;*/
        /*color: #000 !important;*/
        /*-webkit-print-color-adjust: exact;*/
    /*}*/
   /*.bg {*/
        /*background: #0b2240 !important;*/
        /*color: #000 !important;*/
        /*-webkit-print-color-adjust: exact;*/
   /*}*/
    /*.print-btn{*/
        /*display: none !important;*/
    /*}*/
    /*#mahir-icon-top{*/
        /*display: block !important;*/
        /*margin: 0 auto !important;*/
        /*text-align: center !important;*/
        /*padding: 30px 0 !important;*/
        /*background-color: #fff !important;*/
        /*border-radius: 60% !important;*/
        /*box-shadow: 0px 0px 8px #cbcbcb !important;*/
        /*height: 140px !important;*/
        /*width: 140px !important;*/
    /*}*/

    /*.cstm-table thead tr th {*/
        /*background: #0b2240 !important;*/
        /*color: #fff;*/
       /*}*/
    /*.bg{*/
        /*background: #0b2240 !important;*/
        /*color: #fff;*/
    /*}*/
    /*.Authorized {*/
        /*background: #0b2240;*/
        /*height: 10px;*/
    /*}*/


/*}*/


