#wrapper {
    padding: 30px;
    width: 300px;
    margin: 0 auto;
}

p {
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.nav {}

#wrapper a,
#footer a {
    color: #e8914c;
    text-decoration: none;
    border-bottom: 1px dotted #e8914c;
}

#wrapper a:hover,
#footer a:hover {
    color: #eab209;
    border-bottom: 1px dotted #eab209;
}

#footer {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

#footer p {
    color: rgba(255, 255, 255, .5);
}

#vertical-ticker, #mytreadmill {
    height: 400px;
    /*overflow: hidden;*/
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto !important;
    width:250px;

}

#vertical-ticker li{
    padding: 20px 10px 10px 0;
    display: block;
    color: black;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}
#vertical-ticker li.activeBold, #mytreadmill .activeBold {
    color:#fff !important;
    background: #0b2240;
    padding-left: 5px;
}

