@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.eot');
    src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Bold.woff2') format('woff2'),
    url('../fonts/PTSans-Bold.woff') format('woff'),
    url('../fonts/PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.eot');
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Regular.woff2') format('woff2'),
    url('../fonts/PTSans-Regular.woff') format('woff'),
    url('../fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-BoldItalic.eot');
    src: url('../fonts/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/PTSans-BoldItalic.woff') format('woff'),
    url('../fonts/PTSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Italic.eot');
    src: url('../fonts/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Italic.woff2') format('woff2'),
    url('../fonts/PTSans-Italic.woff') format('woff'),
    url('../fonts/PTSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


body {
    font-family: 'PT Sans';
}



/*home page css here*/
.header-section {
    position: fixed;
    z-index: 9999;
    background: #0b2240;
    left: 0;
    right: 0;
    opacity: 0.9;
}

.header-section .custom-navbar img {
    width: 100px;
}

.custom-navbar {
    box-shadow: none !important;
    /*padding: 20px 0;*/
}

.custom-navbar .cstm-nav li {
    padding-left: 25px;
    font-size: 15px;
    font-weight: 600;
}
.custom-navbar .cstm-nav li .cstm-dropdown{padding:0;box-shadow: none;}
.custom-navbar .cstm-nav li .dropdown-menu .dropdown-item{color:#000 !important;}
.custom-navbar .cstm-nav li a {
    color: #fff !important;
}

.custom-navbar .cstm-nav li .sign-up {
    padding: 5px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #fff;
    color: #000 !important;
}

.portfolio-filters .nav-link.active{
    background-color: darkblue !important;
    color: white;
}

.custom-navbar .cstm-nav li .order-now {
    padding: 5px 20px;
    border: 1px solid #ce171f;
    border-radius: 5px;
    color: #fff !important;
    background: #ce171f;
}
.order-now{
    width:110px;
    padding: 10px 20px;
    border: 1px solid #0f3e7c;
    border-radius: 5px;
    color: #fff !important;
    background: #0f3e7c;
    /*background: #ce171f;*/
}

.cstm-caption {
    top: 30%;
    left: 8% !important;
    right: 0 !important;
}

.cstm-caption h1 {
    font-size: 35px;
}

.cstm-caption p {
    font-size: 40px;
}

.tab-section {
    margin-top: -205px;
    position: relative;
    z-index: 99;
    right: 0;
    left: 0;
}
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right:0;
    z-index: 1;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

/*.icon-bar a:hover {*/
    /*background-color: #000;*/
/*}*/

.icon-bar .facebook {
    background: #3B5998;
    color: white;
}

.icon-bar .twitter {
    background: #55ACEE;
    color: white;
}

.icon-bar .google {
    background: #dd4b39;
    color: white;
}

.icon-bar .instagram {
    background: #007bb5;
    color: white;
}

.icon-bar .youtube {
    background: #bb0000;
    color: white;
}
.tab-section .cstm-tabs {
    border-bottom: none !important;
}

.cstm-tabs .nav-link.active {
    color: #fff !important;
    background-color: #ce171f !important;
    border: 1px solid #ce171f;
    border-radius: 10px 10px 0 0;
}

.cstm-tabs .nav-item {
    margin-bottom: -7px;
    width: 15%;
}
.portfolio-filters button {
    color: #fff !important;
    background: #ce171f;
    border-radius: 61px;
    width: 150px;
    height: 40px;
}

.bg-white {
    padding: 35px 0;
    background: #f2f2f2 !important;
}
.cstm-tabs .nav-item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.cstm-tabs .nav-link {
    padding: 30px !important;
    color: #fff;
    border: none !important;
}

.cstm-tab-content {
    background: #ed1b24;
    z-index: 99999;
    position: relative;
    padding: 20px 0;
}

.cstm-tabs .nav-link:focus,
.cstm-tabs .nav-link:hover {
    border: none !important;
}

.service-form {
    background: #fff;
}

.padding-0 {
    padding: 0;
}

.margin-0 {
    margin: 0;
    width: 100%;
}

.service-form .form-group .cstm-control {
    width: 100%;
    border: 0;
    border-radius: 0;
    height: 53px;
}

.service-form .form-group .cstm-control::placeholder {
    color: #495057 !important;
}


.emaill-input input{
    padding: 0px 10px;
}

.emaill-input input:focus{
    border: 1px solid !important;
}

#login-modal-form i{
    color: #0b2240 !important;
    font-size: 70px;
}


.service-form .cstm-btn {
    background: #0b2240 !important;
    color: #fff;
    text-transform: capitalize !important;
    padding: 10px 25px;
    border-radius: 5px;
   box-shadow: none !important;
    margin-bottom: 0 !important;
    margin-top: 7px !important;
}

.form-control:focus {
    border: 1px solid #afafaf !important;
    box-shadow: none !important;
}


.left-inner-addon i {
    position: absolute !important;
    padding: 15px 10px !important;
    pointer-events: none !important;
    font-size: 18px !important;
    color: #ed1b24 !important;
    z-index: 1;
}

.left-inner-addon input {
    padding-left: 22px !important;
}

.col-md-3 .left-inner-addon::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 47px;
    position: absolute;
    top: 0px;
    background: #eee;
    right: 0;
}

.service-item a .title{
    position: absolute;
    left: 30%;
    top: 42%;
    font-weight: 600;
    z-index: 999;
    right: 20%;
}

.Price-box #price_comment{
    text-transform: capitalize;
}

.chosen-container {
    width: 100% !important;
}

.order-track-detail .chosen-container-single .chosen-single{
    background: #17a2b8 !important;
    border-color: #17a2b8;
    color: #fff !important;
}

.order-track-detail .chosen-container-single .chosen-single span{
    margin-top: -9px !important;
}

.btn.btn-1:hover{
    color: #fff;
}

.chosen-container-single .chosen-single div b{margin-top:-5px;}
.chosen-container-single .chosen-single {
    padding-left: 20px !important;
    font-size: 14px !important;
    height: 53px !important;
    /*border-radius: 50px !important;*/
    background: #fff !important;
    border-color: #ced4da !important;
     color: #495057 !important;
     /*border: 0 !important;*/
}

.order-track-detail .chosen-container-single .chosen-single{
    padding-left: 5px !important;
}

.signup-form .chosen-container-single .chosen-single{
    display: block;
    width: 100%;
    height: 45px !important;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    border-radius: 30px;
    vertical-align: middle;
    text-align: left;
    border: 1px solid #8e9296 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.chosen-container-single .chosen-single span{
    margin: -4px 0;
}
select.form-control[multiple], select.form-control[size]{
    height: 45px !important;
}
.chosen-select,  .form-control, .cstm-control, .sub-services option{
    padding-top: 12px;
}
.signup-form .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    height: 45px !important;
    padding: 9px 0px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    border-radius: 30px;
    vertical-align: middle;
    border: 1px solid #8e9296 !important;
    overflow-y: scroll;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.select-area{
    border-radius: 30px;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
}
.checked {
    color: orange;
}

.chosen-container-single .chosen-single span {
    line-height: 50px !important;
}

.chosen-container-single .chosen-single div {
    position: absolute;
    top: 7px !important;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}

.col-md-3:nth-child(3) .left-inner-addon::after {
    display: none;
}

.care-your-home-section {
    background: #f2f2f2;
    padding: 100px 0;
}

.main-heading h2 {
    margin-bottom: 10px;
    font-weight: bold;
}

.redd {
    color: #ce171f;
}

.cstm-card {
    padding: 20px 25px 30px 25px;
    color: #0b2240 !important;
    min-height: 290px;
}

#demo{
    padding-top: 14px;
}

.cstm-card img {
    width: 50px;
    margin: 0 auto;
}

.cstm-card .card-title {
    font-size: 15px;
    font-weight: bold !important;
    text-align: center;
}

.cstm-card .card-text {
    text-align: center;
    color: #0b2240 !important;
    font-size: 13px;
}

.cstm-card .card-body {
    padding: 16px 0 0 0;
}

.service-section {
    padding: 20px 0 40px 0;
}

.service-section .main-heading h3 {
    color: #0b2240;
    font-size: 36px;
    font-weight: bold;
}

.service-section .main-heading h5 {
    color: #ce161f;
    font-size: 26px;
}

.service-section .service-item {
    margin: 40px 20px;
    background: rgba(74, 26, 24, 0.65);
}

.service-section .service-item img {
    margin-bottom: 0px;
    opacity: 0.3;
}
.notfound-section {
    padding-top: 40px;
}
#notfound {
    height: 60vh;
}
.notfound {
    width: 100%;
    text-align: center;
}

.notfound .notfound-404 h1 {
    font-family: PT Sans !important;
    font-size: 160px;
    margin: 0px;
    font-weight: 900;
    color: #0b2240;
}

.notfound h2 {
    font-family: PT Sans !important;
    color: #0b2240;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}
.notfound p {
    font-family: PT Sans !important;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}

.notfound a {
    font-family: PT Sans !important;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #0b2240;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0px 4px 15px -5px #0b2240;
    box-shadow: 0px 4px 15px -5px #0b2240;
}


.service-section .service-item a {
    color: #0b2240;
    font-size: 20px;
}

.service-section .service-item a:after {
    /*content: "\f30b";*/
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #0b2240;
    font-size: 16px !important;
    padding-left: 15px;
}

.owl-prev:before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #aaaaaa;
    font-size: 20px;
    background: none;
}

.owl-next:before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #aaaaaa;
    font-size: 20px;
    background: none;
}

.carousel-control-prev{
    left: -32px;
}
.carousel-control-next {
    right: -31px;
}

.owl-theme .owl-controls .owl-prev {
    position: absolute;
    left: -6%;
    top: 40%;
}

.owl-theme .owl-controls .owl-next {
    position: absolute;
    right: -6%;
    top: 40%;
}

.owl-theme .owl-controls .owl-buttons div {
    background: none !important
}

.about-description{
    font-size: 20px;
}

.terms strong{
    font-weight: bold;
    font-size: 22px;
}

.bookNow-section {
    padding: 60px 0;
    background: #f2f2f2;
}

.bookNow-section .main-heading {
    margin-bottom: 40px;
}

.bookNow-section .main-heading h3 {
    color: #0b2240;
    font-size: 36px;
    font-weight: bold;
}

.bookNow-section .main-heading h5 {
    color: #ed1b24;
    font-size: 26px;
    font-style: italic;
}

.bookNow-section .steps {
    padding: 30px 0;
}

.bookNow-section .step-avatar img {
    width: 80px;
}

.step1:after {
    content: url(../images/after.png);
    position: absolute;
}

.step3:before {
    content: url(../images/before.png);
    position: absolute;
    left: 0;
}

.bs {
    box-shadow: 3px 10px 10px #cbcbcb;
}

.steps-description {
    padding: 20px;
}

.steps-description span {
    color: #ce161f;
    font-size: 15px;
    text-transform: uppercase;
}

.steps-description h3 {
    color: #5f666c;
    font-size: 22px;
    font-weight: bold;
}

.steps-description p {
    color: #636363;
    font-size: 14px;
    padding: 0 20px;
}
.service-business-btn{
    padding: 10px 0 40px 0;
    background: #f1f1f1;
    margin-bottom: -18px;
}


.expand-business-section {
    padding: 60px 0 40px 0;
    background: #f1f1f1;
}

.expand-business-section .owl-theme .owl-controls .owl-page span {
    display: block;
    /* width: 4px; */
    height: 2px !important;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #cccccc !important;
    padding: 0 16px !important;
}

.expand-business-section .owl-theme .owl-controls .active span {
    display: block;
    /* width: 4px; */
    height: 2px !important;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #ce161f !important;
    padding: 0 16px !important;
}

.expand-business-section .main-heading {
    margin-bottom: 40px;
}

.expand-business-section .main-heading h3 {
    font-size: 36px;
    color: #0b2240;
    font-weight: bold;
}

.expand-business-section .main-heading h5 {
    font-size: 20px;
    color: #ed1b24;
}

.expand-business-desc {
    border: 1px solid #b7b7b7;
    padding: 40px;
    margin: 60px 10px;
    background: #0f3e7c;
    border-radius: 11px;
    }

.expand-business-desc img {
    border-radius: 10px;
    margin-top: -94px;
    margin-bottom: 50px;
    width: 130px;
    height: 120px;
    box-shadow: 0px 1px 10px -3px;
}
.mr-3{
    width: 100px;
    height: 90px !important;
    border-radius: 15px;
    box-shadow: 0px 1px 26px -3px;
}
.expand-business-desc h4 {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.expand-business-desc p {
    color: white;
    /*color: #636363;*/
    font-size: 15px;
    min-height: 120px;
}

.expand-business-desc a {
    color: #ce161f;
    /*text-decoration: underline;*/
    background: #fff;
    border-radius: 25px;
    padding: 7px 25px;
    padding-bottom: 5px;
}
.expand-business-desc a:hover {
    background: #ce161f;
    color: white;
}

.who-we-are-section {
    padding: 100px 0;
    background: url("../images/who-we-are.jpg");
}

.who-we-are .main-heading {
    color: #fff;
}

.who-we-are .main-heading h3 {
    font-size: 40px;
}

.who-we-are .main-heading p {
    padding: 0 100px;
}

.who-we-are .main-heading .read-more {
    color: #fff;
    background: #ce171f;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.cta-section a{display: inline-block;
    margin-left: 36px;
    color: #fff;
    padding-top: 16px;
    width: 150px;
    font-weight: 600;
    font-size: 16px;
    height: 54px;
    border-radius: 4px;
    background-color: #ed1b24;
}
.cta-section a:hover{
    color: #fff;
}
.cta-section h2 {
    display: inline-block;
    font-weight: 400;
    color: #646464;
    margin: 0;
    line-height: 98px;
    font-size: 20px;
}

.cta-section{
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #f9f9f9;
    border: 1px solid #e4e4e4;
    /*margin-bottom: 70px;*/
    margin-top: 30px;
    text-align: center;
    height: 98px;
}

.Price-box span{
    text-transform: capitalize !important;
}

/*services page*/
.cta-section-serv{
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #f9f9f9;
    border: 1px solid #e4e4e4;
    /*margin-bottom: 70px;*/
    margin-top: 10px;
    text-align: center;
    height: 98px;
    margin-bottom: -15px;
}
.cta-section-serv a{display: inline-block;
    margin-left: 36px;
    color: #fff;
    padding-top: 16px;
    width: 150px;
    font-weight: 600;
    font-size: 16px;
    height: 54px;
    border-radius: 4px;
    background-color: #ed1b24;
}
.cta-section-serv a:hover{
    color: #fff;
}
.cta-section-serv h2 {
    display: inline-block;
    font-weight: 400;
    color: #646464;
    margin: 0;
    line-height: 98px;
    font-size: 20px;
}
/*end*/

.service-section2 .scheduler-border{
    background: rgba(251, 251, 251, 0.5);
}


.lg-group #lg-download{
    display: none;
}


.counter-section {
    padding: 20px 0;
    background: #ed1b24;
    color: #fff;
    font-size: 17px;
}

.counter-section .counter-text {
    border-right: 1px solid #c10810;
}

#counter ul {
    list-style: none;
    margin-bottom: 0;
    display: inline-flex;
    width: 100%;
    padding: 12px 0px;
}

#counter ul li .counter-value {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0
}

#counter ul li p {
    margin-bottom: 0;
}

#counter ul li .counter-value:after {
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    background: none;
}

#counter ul li {
    width: 25%;
    font-size: 14px;
}

.counter-section .counter-text p {
    margin-bottom: 0;
}

.counter-section .counter-text h2 {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
}

.clients-section {
    padding: 60px 0;
    background: #f2f2f2;
}

.clients-section .main-heading h3 {
    font-size: 40px;
    color: #0b2240;
    font-weight: bold;
    /*margin-bottom: 50px;*/
}

.clients-testimonial {
    height: 442px !important;
    padding: 40px;
    margin: 20px;
    border: 1px solid #b7b7b7;
    box-shadow: 3px 4px 10px #cbcbcb;
    background: #0f3e7c;
    border-radius: 11px;
}

.clients-testimonial .full-story {
    padding-top: 20px;
}

.contact-form-section{
    margin-bottom:30px;
}

.clients-testimonial .full-story a {
    font-size: 14px;
    color: #ce161f;
    text-decoration: underline;
}

.client-info {
    padding-bottom: 30px;
    /*border-bottom: 1px solid #e1e1e1;*/
    min-height: 170px;
}
.client-info .media{
    text-align: center;
    display: block;
}

.client-info .media-body {
    margin-top: 20px;
    font-size: 18px;
    color: white;
}

.client-info p {
    padding-top: 20px;
    font-size: 15px;
    color: white;
    text-align: center;
}

.reviews-fb{
    margin:0 auto;
}
.stars-img{
    margin: 0 auto;
    display: block;
    padding: 10px;
}

.pehra-of-rate{
    height: 229px;

}

.client-info a {
    padding-top: 20px;
    font-size: 14px;
    color: white;
    /*color: #1e96a4;*/
    text-decoration: underline;
}
.client-info a:hover {
    color: #1e96a4;
}


.clients-section .owl-theme .owl-controls .owl-page span {
    display: block;
    /* width: 4px; */
    height: 2px !important;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #cccccc !important;
    padding: 0 16px !important;
}

.clients-section .owl-theme .owl-controls .active span {
    display: block;
    /* width: 4px; */
    height: 2px !important;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #ce161f !important;
    padding: 0 16px !important;
}

.footer-section {
    padding: 50px 0;
    background: #0b2240;
}


.footer-section .about-footer h3 {
    font-size: 36px !important;
}


.footer-section .about-footer {
    color: #dadada;
    font-size: 15px;
}

.footer-section .download-app {
    padding-top: 15px;
    padding-bottom: 30px;
}

.footer-section ul {
    list-style: none;
    padding-left: 40%;
    margin: 0px;
}
.footer-section .privacy-and-terms {
    list-style: none;
    padding:0;
    margin: 0px;
}
ul.privacy-and-terms li {
    display: inline-block;
}

.footer-section ul li a {
    color: #dadada;
    font-size: 14px;
    display: block;
    padding: 3px 0px;
}

.platform .title {
    margin-top: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    color: #dadada;
    font-weight: normal;
}

.social .title {
    margin-top: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    color: #dadada;
    font-weight: normal;
}
.social p {
   margin:0;
    color: #dadada;
    font-weight: normal;
}

.footer-section .call-us {
    padding: 0px;
    font-size: 18px;
    color: #dadada;
}

.social-icons {
    font-size: 30px;
    padding: 10px 0;
}

.social-icons a {
    color: #dadada;
    padding: 0 5px;
}


/* fixed side social bar*/
#fixed-social {
    position: fixed;
    top: 115px;
    right:0;
    z-index: 999;
}

#fixed-social a {
    color: #fff;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
    width: 40px;
    margin-bottom: 1px;
    z-index: 2;
}
#fixed-social a i{
    padding-top:13px ;
}
#fixed-social a:hover>span{
    visibility: visible;
    right: 41px;
    opacity: 1;
}
#fixed-social a span {
    line-height: 40px;
    right: 60px;
    position: absolute;
    text-align: center;
    width: 120px;
    visibility: hidden;
    transition-duration: 0.5s;
    z-index: 1;
    opacity: 0;
}
.fixed-facebook{
    background-color: #00AAE5;
}
.fixed-facebook span{
    background-color: #00AAE5;
}
.fixed-twitter{
    background-color: #7D3895;

}
.fixed-twitter span{
    background-color: #7D3895;
}
.fixed-gplus{
    background-color: #00AF54;

}
.fixed-gplus span{
    background-color: #00AF54;
}
.fixed-linkedin{
    background-color: #FFC41E;

}
.fixed-linkedin span{
    background-color: #FFC41E;
}
.fixed-instagram{
    background-color: #ED2B29;

}
.fixed-instagram span{
    background-color: #ED2B29;
}
.fixed-youtube{
    background-color: #EB1471;

}
.fixed-youtube span{
    background-color: #EB1471;
}
/*end fixed social*/

/*search data table padding*/
.dataTables_filter input{
    padding-top: 6px;
}
.dataTables_filter{
    width: 40% !important;
    display: block !important;
    margin: 0 auto !important;
}
#home-just #DataTables_Table_0_wrapper .col-md-6{
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
#home-just0 #DataTables_Table_0_wrapper .col-md-6{
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
#home-just1 #DataTables_Table_1_wrapper .col-md-6{
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
#home-just2 #DataTables_Table_2_wrapper .col-md-6{
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
#home-just3 #DataTables_Table_3_wrapper .col-md-6{
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

#DataTables_Table_0_filter label{
    font-size: 18px;
}

/*end*/

.contact-form-section{
    margin-bottom: 30px !important;
}

.footer-bottom {
    padding: 15px 0;
    background: #ed1b24;
    color:#fff;
}
.footer-bottom p{margin: 0;}

.footer-bottom ul {
    list-style: none;
    display: inline-flex;
    margin-bottom: 0;
}

.footer-bottom ul li {
    padding: 0 20px;
}

.footer-bottom ul li a {
    color: #fff;
    font-size: 15px;
}


.service-section2{
    display: block;
}


.service-section-mobile{
    display: none;
}

.top-header-ratelist-section{
    background: #f2f2f2;
    padding-top: 10px;
}

#order-detail .order-detail-section{
    padding: 0 0 !important;
}
#order-detail .order-detail-section h2{
    /*padding: 33px 0 !important;*/
    padding: 10px 0 !important;
    font-weight: 600;
}
#order-detail .order-detail-section label{
   font-weight: inherit !important;
}
/*services page css here*/
.services-section {
    background: #f2f2f2;
    padding: 60px 0;
}

.services-section .card {
    margin-bottom: 30px;
}

.services-section .card-body {
    padding: 25px;
}

.services-section .main-heading h2 {
    font-size: 36px;
    font-weight: bold;
}

.services-section .card-body ul {
    padding: 0;
    color: #0b2240;
    list-style: none;
    margin-bottom: 5px;
}

.services-section .card-body ul li {
    line-height: 30px;
}

.services-section .card-body ul li:before {
    content: "\f0c8";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ec1b23;
    font-size: 12px;
    padding-right: 10px;
}

.services-section .card-body .card-title {
    font-size: 22px;
    font-weight: bold;
}

.services-section .card-body a {
    color: #0b2240;
}

.services-section .card-body img {
    display: block;
    float: right;
    margin-top: -60px;
}

.order-track-detail{
    padding: 35px 0;
}

.Detail-profile{
    cursor: pointer;
    border-radius: 30px;
    border: none;
    min-height: 45px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 17px 31px 13px 34px;
    color: #fff !important;
    margin: 5px;
    background: #0f3e7c;
}

.Detail-profile:focus {
    outline: none;
}

/*sign up page css here*/
.padd-0 {
    padding: 0;
}

.user-img-signup {
    margin: 0 auto 10px;
    border-radius: 50%;
}

.signup-section {
    min-height: 100vh;
}

.user-img-signup img {
    border-radius: 50%;
}

.marg-0 {
    margin: 0;
}
.main-section{
    background: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}
/*login page*/
.user-signup-section {
    text-align: center;
    /*background: url(../images/bg2.jpg);*/
    padding: 15% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}

.user-signup-form-section {
    padding: 15% 15%;
    /*background: url(../images/bg1.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}

.user-signup-form-section span {}

.user-signup-form-section h1 {
    color: #3e416d;
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px !important;
    font-weight: normal;
}

.user-signup-form-section h1:after {
    content: url(../images/smile-face.png);
    padding-left: 10px;
}

.user-signup-form-section .fill-info {
    font-size: 18px;
    color: #8c8c9e;
    display: block;
    text-align: center;
    margin: 0 0 20px;
}

.top-header-section{background-image: url("../images/bg1.PNG")}

/*register signup/signin page*/
.main-section{
    background: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}

.user-register-signup-section{
    text-align: center;
    /*background: url(../images/bg2.jpg);*/
    padding: 15% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}
.userr-register-signup-section h1 {
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px !important;
    font-weight: normal;
}
.user-register-signup-form-section {
    padding: 15% 15%;
    /*background: url(../images/bg1.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}

.user-register-signup-section h1 {
    color: #3e416d;
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px !important;
    font-weight: normal;
}

.user-register-signup-section h1:after {
    content: url(../images/smile-face.png);
    padding-left: 10px;
}

.user-register-signup-section .fill-info {
    font-size: 18px;
    color: #8c8c9e;
    display: block;
    text-align: center;
    margin: 0 0 20px;
}
.user-register-signup-form-section h1 {
    color: #3e416d;
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px !important;
    font-weight: normal;
}
.user-register-signup-form-section h1:after {
    content: url(../images/smile-face.png);
    padding-left: 10px;
}
.user-register-signup-form-section .fill-info {
    font-size: 18px;
    color: #8c8c9e;
    display: block;
    text-align: center;
    margin: 0 0 20px;
}
.user-register-signup-form-section .fill-info {
    font-size: 18px;
    color: #8c8c9e;
    display: block;
    text-align: center;
    margin: 0 0 20px;
}

.terms{
    padding: 75px 0px;
    padding-bottom: 0;
}

.custom-control-label {
    color: #fff;
}

.signup-form a {
    color: #fff !important;
}

.signup-form .cstm-control {
    border-radius: 50px;
    /*border: none;*/
    height: 45px;
    padding: 0 23px;
    margin-bottom: 0px;
    border: 1px solid #8e9296;
}

.signup-form .sign-up-btn {
    width: 100%;
    border-radius: 50px;
    background: #0f3e7c;
    /*background: #ce171f;*/
    color: #fff;
}

.social-signup ul {
    display: inline-flex;
    list-style: none;
}

.social-signup ul li img {
    width: 95%;
}

.login button {
    border-radius: 50px;
    background: #ce171f;
    color: #fff;
    width: 40%;
}

.user-signup-section h2 {
    color: #3e416d;
    font-size: 36px;
}

.user-signup-section .join-mr-mahir {
    background: #fff;
    color: #ce171f !important;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 50px;
}


/*about page css*/
.about-section {
    padding: 20px 0;
    background: #f2f2f2;
}

.call-section .freeQuote {
    padding: 40px 10%;
    background: #ce171f;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.freeQuote p strong {
    color: #fff;
    font-size: 26px;
    font-weight: 900;
    line-height: 32px;
}

.freeQuote p span {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

.freeQuote p {
    background-image: url(../images/icon-phone-white.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 65px;
    height: 70px;
    /*font-size: 24px;*/
}

.callbackForm {
    padding: 14px 20px;
    background: #ed1b24;
    border-radius: 0 0 10px 10px;
}

.callbackForm p {
    color: #fff;
}

.callbackForm .btn-submit {
    margin: 0 !important;
}

.padd-l-0 {
    padding-left: 0;
}


.about-description-web{
    display: block;
}

.about-description-mobile{
    display: none;
}

/*rate list page css*/
.ratelist-section {
    padding: 20px 0;
    background: #f2f2f2;
}

.price-tabs {
    background: #ce171f !important;
}

.price-tabs li {
    margin-bottom: 0 !important;
}

.price-tabs  a {
    color: #fff !important;
}

.price-tabs li:hover a {
    border-radius: 0 !important
}

.price-tabs .nav-link.active {
    color: #fff !important;
    border-radius: 0 !important;
    font-weight: bold;
    background: #0f3e7c !important;
    /*background-color: #0b2240 !important;*/

}

.top-header-section .header-btn .signup-signin a{
    color: #fff;
    font-weight: 300;
}
.top-header-ratelist-section .header-btn .signup-signin a{
    color: #fff;
    font-weight: 300;
}
.top-header-register-section .header-btn .signup-signin a{
    color: #fff;
    font-weight: 300;
}


/*drop down on hover ( On Services )*/
.drop-btn {
    background: #0b2240;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
    display: block;
 }

.dropup {
    position: relative;
    display: inline-block;
    margin: -13px -2px;
}

.dropup-content {
    display: none;
    position: absolute;
    background: #0f3e7c;
    /*background-color: #f1f1f1;*/
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
}

.dropup-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {
    /*background-color: #ccc;*/
    background-color: #3498DB;
    color: black;
}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .drop-btn {
    background: #0b2240;
}
/* end */



table th {
    font-weight: bold !important;
    text-align: center;
}

table td {
    text-align: center;
}

.inner-service-section {
    padding: 30px 0;
}

.inner-service-description ul {
    list-style: none;
    padding-left: 0;
}

.inner-service-description ul li:before {
    /*content: "\f0c8";*/
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ec1b23;
    font-size: 21px;
    padding-right: 10px;
}

.trending-links span{
    padding-left: 20px !important;
}

.sub-service-list .mahir-service {
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
    color: #fff;
    float: left;
    overflow: hidden;
    cursor: pointer;
    display: block;
    width: 100%;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}

.sub-service-list .mahir-sub-service {
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
    color: #fff;
    float: left;
    overflow: hidden;
    cursor: pointer;
    display: block;
    width: 100%;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}
.sub-service-list .mahir-sub-service:hover {
    cursor: pointer;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}

.sub-service-list .mahir-service img {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: -10px;
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 13;
    top: 0px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.sub-service-list .mahir-sub-service img {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: -10px;
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 13;
    top: 0px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
.mahir-service{
    height: 150px;
    background-repeat: no-repeat;
    background: url("../images/electronics.jpg");
    background-size: cover;
}
.mahir-sub-service{
    height: auto;
    background-repeat: no-repeat;
    /*background: url("../images/electronics.jpg");*/
    /*background-size: cover;*/
}
.sub-service-list .mahir-service .info {
    padding: 30px 0px;
    /*background: rgba(62, 172, 131, 0.85);
    background: rgba(62, 172, 131, 0.65);*/
    /* -webkit-transition: all 0.3s; */
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    /* transition: all 0.3s; */
}
.info{
    height: 150px;
    background: rgba(74, 26, 24, 0.65);
}
.sub-service-sect{
    height: 100px;
    background: rgba(74, 26, 24, 0.65);
}

.sub-service-list .mahir-service:hover {
    cursor: pointer;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}

.sub-service-list .mahir-service:hover img{
    display: none;
}

.sub-service-list .mahir-service:hover .info{
    padding-top: 60px;
}
.sub-service-sect{
    padding: 30px 10px;
}

/*order listing page css*/
.order-listing-section {
    padding: 20px 0;
}

.profile .media-body {
    padding-top: 30px;
}
.Price-box{
    padding: 20px;
    border: 2px solid;
    text-align: center;
    width: 100%;
    background: #0f3e7c;
    color: #fff;
    height: 165px;
    border-radius: 12px;
}
.Price-box p{
    font-size: 14px;
    margin-bottom: -6px;
}
.profile .media-body .media-heading {
    color: #0b2240;
    font-size: 35px;
    text-transform: uppercase;
    padding: 0 21px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.profile .media-body .media-heading:hover {
    color: #ce171f;
}

.profile .media-body a {
    color: #0b2240;
    font-weight: bold;
    display: block;
    text-align: center;
}

.profile .media img {
    box-shadow: none !important
}

.call-to-us a:hover {
    text-decoration: none;
    color: #fff;
}

.call-to-us a {
    background: #ce171f;
    color: #fff;
    font-size: 24px;
    padding: 5px 30px;
    border-radius: 40px;
    text-transform: uppercase;
}

.call-to-us {
    padding-top: 30px;
    margin-right: 40px;
}

.order-track-detail table th {
    /*font-size: 13px;*/
    color: #0b2240;
}

.order-track-detail  .table td{
    padding:.35rem !important;
    padding-top: 24px !important;
}

.order-track-detail .profile-detail {
    /*background: #ce171f;*/
    padding: 7px 0;
    /*position: absolute;*/
    /*right: -12px;*/
    /*border-radius: 25px;*/
    /*color: #fff;*/
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    display: block;
    line-height: 20px;
    background: #17a2b8 !important;
    width: 100px;
}
.order-track-detail .user-rating{
    background: #0f3e7c;
    padding: 7px 0;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    display: block;
    line-height: 20px;
    width: 150px;
    cursor: pointer;
    border: none;
}

.order-track-detail .user-rating:focus{
    outline: none;
}

.order-track-detail .view-detail {
    background: #ce171f;
    padding: 7px 0;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    display: block;
    line-height: 20px;
    width: 150px;
}

.delete-btn{
    background: #ce171f;
    padding: 7px 0;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    display: block;
    line-height: 20px;
    width: 150px;
    border: none;
}


.order-track-detail-section .order-track-info .view-detail:hover {
    text-decoration: none;
}
.inner-service-description, .text-justify ul li{
    font-size: 25px;
    font-weight: bold;
}

/*order page css*/
.form-section {
    padding: 90px 0;
    /*padding: 100px 0;*/
    /*background: #f2f2f2;*/
}

.order-form .chosen-container {
    width: 100% !important;
    border: 1px solid #ddd;
}

#instanceOrder .for-border {
    border: 1px solid #999 !important;
}

.cstm-input-field {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    height: 55px;
    border: 1px solid #999;
}


#dtBasicExample .text-table{
    font-weight: 600 !important;
}

#myTabContentJust .text-table strong{
    text-transform: uppercase;
    font-weight: 600;
}

.order-track-detail .chosen-container-single .chosen-single{
    height: 36px !important;
}

/*Rating*/
.rate {
    /*float: left;*/
    padding: 10px 0;
    height: 100px;
    margin: 0 auto;
    display: block;
}

#save-btn{
    background: #0f3e7c;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 10px 38px;
    font-size: 14px;
}
#save-btn:hover{
    color: #fff;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/*email on order page*/
.cstm-input-field-order{
    width: 100%;
    padding: 10px 23px;
    outline: none;
    height: 55px;
    border: 1px solid #999;
}

.btn-submit {
    width: 20%;
    padding: 10px 20px;
    background: #0f3e7c;
    /*background-color: #ce171f;*/
    border: none;
    text-transform: uppercase;
    color: #fff;
    height: 55px;
    font-size: 15px !important;
}
.btn-submit:hover{
    color: white !important;
}


.order-form .form-control:focus {
    border: 1px solid #ddd !important;
    box-shadow: none !important;
}

.order-form .form-group .form-label {
    font-size: 18px;
    color: #0b2240;
    margin-bottom: 5px;
    font-weight: 500;
}

.order-form .order-submit {
    /*background-color: #ce171f !important;*/
    background: #0f3e7c !important;
    color: #fff;
    padding: 15px 50px;
    border-radius: 25px;
    text-transform: uppercase;
    box-shadow: none !important;
}

.order-track-info strong {
    font-weight: bold !important;
}

.order-detail-section {
    padding: 50px 0;
}

.order-track-info .track-order {
    background: #0f3e7c;
    /*background: #ce171f;*/
    padding: 7px 10px;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

.view-order-detail {
    background: #ce171f;
    color: #fff;
    padding: 15px 40px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 16px;
}
.submit-btn button{
    display: table;
    margin: auto;
}
.submit-btn button:hover{color:#fff;}

.view-order-detail:hover {
    color: #fff;
}

#show {
    margin-top: 20px;
}

.order-track-detail .form-group label{
    font-weight: 600;
}

.order-track-detail .btn.btn-1 {
    background-color: #17a2b8;
    border-color: #17a2b8;
    text-transform: capitalize;
}
.order-track-detail .btn:focus, .btn:hover {
    text-decoration: none;
}
.order-track-detail .btn {
    display: inline-block;
    margin-top: -2px !important;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.order-track-detail .table-hover tr th {
    color: white;
}

.order-track-detail-section .btn-close{
    background: #0f3e7c;
}
.order-track-detail-section .btn-close:hover{
    color: white;
}

.order-track-detail-section h1{
    background: #0f3e7c;
    font-size: 50px;
    padding: 15px 0;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
    border-bottom: 2px solid #0b2240;
}
.order-track-detail-section span{
    color: white;
    position: relative;
    right: 11px;
    top: 4px;
}
.order-track-detail-section label{
    font-weight: 600;
}


.order-track-section {
    background: #ececec;
    /*border-radius: 10px;*/
    margin-top: 20px;
}
.terms-section{padding: 50px 0;}
.modal{z-index: 99999;}
.modal-content{background: none !important;box-shadow: none !important;}
.order-track-section h1 {
    background: #0f3e7c;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
    border-bottom: 2px solid #0b2240;
}
#rating-thumb-icon{
    background: white;
    border-radius: 53px;
    color: red;
    padding: 20px 20px;
    position: relative;
    top: 28px;
    right: -20px;
}
.order-form .form-group .form-label {
    font-size: 16px;
    color: #0b2240;
    margin-bottom: 5px;
    font-weight: 600;
}
.order-form {
    padding: 18px 20px 10px 20px;
}
.rate h6{
    font-weight: 600;
}
.order-track-section .close {
    padding-right: 10px;
    padding-top: 5px;
}
.cstm-textarea {
    padding: 5px 0 0 2px;
    height: 150px !important;
    resize: none;
    border: 0;
    border-radius: 0;
}
.cstm-modal-content {
    padding: 0;
    box-shadow:none !important;
    background: none;
    border: 0;
}

/*/new home design/*/
.header-btn  {
    padding: 15px 0;
}

.header-btn h4 a{
    color:#000;
}

.btn-order-now {
    cursor: pointer;
    border-radius: 30px;
    border: none;
    min-height: 45px;
    width: 37%;
    color: #fff !important;
    background: #0f3e7c;
    /*background: #ce171f;*/
}

.btn-register-order-now{
    cursor: pointer;
    border-radius: 30px;
    border: none;
    min-height: 45px;
    width: 37%;
    color: #fff !important;
    background: #0f3e7c;
    /*background: #ce171f;*/
    margin-top: 15px;
}
.btn-register-order-now:focus{
    outline:none;
}

.btn-order-now:focus{
    outline:none;
}

.btn-Request-a-Call-back {
    border-radius: 30px;
    border: none;
    min-height: 37px;
    width: 30%;
    color: #fff !important;
    background: #0f3e7c;
    /*background: #ce171f;*/
    cursor: pointer;
}

.btn-Request-a-Call-back:hover{
    outline: none;
}

.footer {
    padding: 20px 0;
    position: fixed;
    background: #0b2240;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 999;
}

.footer ul {
    list-style: none;
    display: inline-flex;
    margin-bottom: 0;
}

.footer ul li {
    padding: 0 18px;
}

.footer ul li a {
    color: #fff;
    font-size: 15px;
}

.videos-section {
    padding: 60px 0 100px 54px;
    display: block;
    margin: 0 auto;
    margin-top: 14px;
}

.phone-number {
    font-weight: 600;
    color: #ce171f;
}

.form {
    border: 2px solid #0b2240;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.form-call{
    border: 2px solid #0b2240;
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 50%;
    display: block;
    margin:0 auto;
}

.cstm-input {
    border-radius: 30px;
    width: 100% !important;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
}
.cstm-input-control{
    border-radius: 30px;
    width: 34% !important;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /*color: #495057;*/
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    outline: none;
}

.services-widget {
    display: inline-flex;
    z-index: 9999;
    position: relative;
}

.service-content {
    padding: 20px;
    border: 2px solid;
    text-align: center;
    width: 115%;
    background: #0f3e7c;
    color: #fff;
    transition: .3s all;
}

.btn-page-order-now{
    cursor: pointer;
    border-radius: 30px;
    border: none;
    min-height: 45px;
    width: 37%;
    color: #fff !important;
    background: #ce171f;
    margin-top: 16px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
.btn-page-order-now:hover{
    outline: none;
}

.btn-order-detail-now{
    cursor: pointer;
    border-radius: 30px;
    border: none;
    min-height: 45px;
    width: 19%;
    color: #fff !important;
    background: #ce171f;
    margin-top: -42px;
    margin-bottom: 41px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
.btn-order-detail-now:hover{
    outline: none;
}

.btn-profile-order-now{
    cursor: pointer;
    border-radius: 30px;
    border: none;
    min-height: 45px;
    width: 37%;
    color: #fff !important;
    background: #ce171f;
    margin-top: 13px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
.btn-profile-order-now:hover{
    outline: none;
}
.service-content h6 {
    margin-bottom: 0;
    margin-top: 5px;
}
.service-content a{
    color: #fff;
}

.Sub-service-text {
    margin: 0 auto;
}

.Sub-service-text h4 {
    font-weight: 600;
    text-align: center;
}

.img-circle {
    box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}

.img-circle:hover {
    transform: scale(1.1);
    transition: transform .7s;
}

.request-form .form-group {
    display: inline;
}

#vertical-ticker img, #mytreadmill img {
    width: 30px;
    margin: 0 0 0 7px;
}
#vertical-ticker, #mytreadmill{
    overflow-y: scroll !important;
}
.btn-Book-now {
    border-radius: 30px;
    border: none;
    min-height: 37px;
    width: 100%;
    color: #fff !important;
    background: #ce171f;
    cursor: pointer;
    margin-top: 22px;
}
.btn-Book-now:focus{
    outline: none;
}

.Order-form {
    padding: 10px 20px;
}

.form-input {
    border-radius: 30px;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /*color: #495057;*/
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    outline: none;
}

.textarea-input {
    border-radius: 30px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    resize: none !important;
}
#clients-slider{
padding-top: 25px;
}
/*.order-body .footer{position: relative;}*/
fieldset.scheduler-border {
    border: 4px groove #ddd !important;
    padding: 0 11px 0 15px;
    /*margin: 0 0 1.5em 0 !important;*/
    /*-webkit-box-shadow: 0px 0px 0px 0px #000;*/
    box-shadow: 0px 0px 0px 0px #000;
    width: max-content;
}
.home-body{
    background: url("../images/intro-section-pattern.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    /*height: 100%;*/
}
legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}
.top-header-section{
    padding-top:10px;
}
.cstm-width {
    max-width: 100%;
}
.owl-theme .owl-controls{margin: 0 !important;}
.service-content:hover img {
    display: none;
}

.service-content:hover {
    cursor: pointer;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}

.owl-prev:before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #aaaaaa;
    font-size: 30px;
    background: none;
}

.owl-next:before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #aaaaaa;
    font-size: 30px;
    background: none;
}

.owl-theme .owl-controls .owl-prev {
    position: absolute;
    left: -3%;
    top: 40%;
}

.owl-theme .owl-controls .owl-next {
    position: absolute;
    right: -3%;
    top: 40%;
}
.tab-hide{
    position: relative;
    z-index: 999;
}
/*new service css*/
/* CSS used here will be applied after bootstrap.css */
.closeBtn:focus {
    outline: none;
}
.close{
    color: #fff;
}

/*login*/
.login-mobile-hide{
    display: block;
}

.login-web-hide{
    display: none;
}

/*
 *  STYLE 3
 */
/* width */
#mytreadmill::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#mytreadmill::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
#mytreadmill::-webkit-scrollbar-thumb {
    background: #0b2240;
}

/* Handle on hover */
#mytreadmill::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*
 *  STYLE 3
 */
/* width */
#myTabContentJust::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#myTabContentJust::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
#myTabContentJust::-webkit-scrollbar-thumb {
    background: #ce171f;
}

/* Handle on hover */
#myTabContentJust::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*rate-list scrolling*/
.about-description #myTabContentJust{
    overflow: hidden;
    overflow-y: scroll;
    height: 300px;
}
/*end*/

.dataTables_filter label{
    display: -webkit-box !important;
margin-top: 5px;
}


.dataTables_length label{
    display: none;
}

.dataTables_info{
    display: none;
}

.dataTables_paginate .pagination{
    display: none;
}

.dtBasicExample_filter label{
    margin-bottom: .5rem;
    padding: 1px 0 0 70px;
    display: flex;
}

/*drop down top*/
.dropbtn {
    background-color: #ce171f;
    color: white;
    padding: 11px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    width: 150px;
    height: 45px;
    outline: none !important;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: -2px;
}
.dropbtn:hover{
    /*outline: none;*/
    background-color: gray;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.header-btn .signup-signin{
    cursor: pointer;
    border-radius: 30px;
    border: none;
    min-height: 45px;
    width: 37%;
    color: #fff !important;
    background: #0f3e7c;
    /*background: #ce171f;*/
    outline: none;
}

.header-btn .signup-signin-mobile{
    cursor: pointer;
    border-radius: 30px;
    border: none;
    min-height: 45px;
    width: 15%;
    color: #fff !important;
    background: #0f3e7c;
    /*background: #ce171f;*/
    outline: none;
    display: none;
}

.header-btn .signup-signin-web{
    cursor: pointer;
    border-radius: 30px;
    border: none;
    min-height: 45px;
    width: 15%;
    color: #fff !important;
    background: #0f3e7c;
    /*background: #ce171f;*/
    outline: none;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.modal-body{
    padding: 0;
}

.portfolio-filters .is-checked{
    background: #0f3e7c;
    /*background: #0b2240;*/
    color:#fff;
}

.home-tab-show{
    display: none;
}
.home-tab-hide{
    display: block;
}
#login-modal-form{
    padding: 15px 0;
}


/*responsive css*/
@media screen and (max-width:767px) {
    .expand-business-section .main-heading h3{
        font-size: 27px;
    }
    .clients-section .main-heading h3{
        font-size: 27px;
    }
    #DataTables_Table_0_filter label{
        font-size: 16px;
    }
    #login-modal-form i{
        font-size: 55px;
    }
    .forgot-pass{
        font-size: 22px !important;
    }
    .terms {
        padding: 30px 0px;
    }
    .call-section{
        margin-bottom: 30px;
        padding: 0 0px 30px 0;
    }
    .service-section{
        margin-top: -40px;
    }

    .notfound .notfound-404 h1 {
        font-size: 100px;
    }

    .ratelist-section{
        margin-top: -40px;
    }

    .about-section{
        margin-top: -40px;
    }
    .services-widget-mobile{
        list-style: none;
        padding-left: 0;
        display: contents;
    }
    .services-widget-mobile .service-content{
        display: inline-block;
        width: 50%;
    }
    .sub-service-block{
        margin-bottom: 90px;
    }
    .table, .table-hover, .order-now{
        padding: 2px 8px;
        font-size: 8px !important;
    }

    select.form-control[multiple], select.form-control[size]{
        height: 45px !important;
    }
    .chosen-select,  .form-control, .cstm-control, .sub-services option{
        padding-top: 12px;
    }
    .signup-form .chosen-container-multi .chosen-choices{
        margin-top: 14px;
    }
    .tab-section {
        margin-top: 0;
        background: #ed1b24;
    }
    #mytreadmill{width:100% !important;}
    .icon-bar{display:none !important;}
    fieldset.scheduler-border{width:auto;}
    .cstm-caption p{display: none;}
    .cstm-tabs .nav-item {
        width: 50%;
    }
    .owl-controls{display: none;}
    .service-form .pr-0{padding-right: 15px !important;}
    .price-tabs li a{font-size: 10px;}
    .cta-section{
        height:auto;
    }
    .cta-section-serv{
        height:auto;
    }
    .footer-section ul{padding-left: 0;}
    .platform .title{text-align: left;}
    .who-we-are .main-heading p {
        padding: 0;
    }
    .service-form .cstm-btn{
        margin: -7px !important;
    }
    .counter-section .counter-text {
        border-right: 0;
        text-align: center;
    }

    #counter ul {
        display: block;
    }

    #counter ul li {
        width: 100%;
        text-align: center;
    }

    .footer-bottom ul {
        display: block;
        padding: 0 !important;
        text-align: left !important;
    }

    .footer-bottom ul li {
        padding: 0 !important;
    }

    .btn-submit {
        width: 50%;
    }

    .download-app {
        width: 65%;
    }
    .service-form{padding-bottom: 10px;}

    .order-form .cstm-control {
        height: 55px;
    }
    .step1:after {
        display: none;
    }

    .step3:before {
        display: none;
    }
    .cstm-card{
        margin-bottom: 10px;
        height: auto;
    }
    .service-form .form-group .cstm-control {

        padding: 10px 25px;
    }
    .navbar.navbar-light .navbar-toggler{background: #fff;}
    .header-section{position:relative;background: #0b2240;}
    .header-section .custom-navbar img {
        width: 70px;
    }
    .left-inner-addon i {
        padding: 20px 10px !important;
    }
    .service-form .cstm-btn {
        width:100%;
        margin: 0 !important;
    }

    .cstm-input {
        width: 100%;
    }
    .cstm-input-control{
        width: 100% !important;
    }

    .btn-Request-a-Call-back {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    .request-form .form-group {
        display: block;
    }
    .owl-buttons{
        display: none;
    }
    /*.footer{*/
        /*position: inherit !important;*/
    /*}*/
    #drop{
        display: block !important;
    }
    #drop img{
        position:relative;
        top:50px;
        z-index: 999;
    }
    .dropdown-content{top: 100px;}
    .scheduler-row{
        display: block !important;
    }
    .mahir-icon img{
        margin-top: -144px !important;
        width: 85px !important;
    }
    #logo-of-mahir{
        margin-top: 48px !important;
    }
    .btn-order-now{
        /*margin-top: -25px !important;*/
        position: relative;
        top: -61px;
    }
    #book-now-right{
        position: relative;
        top: -30px;
    }
    .service-section2{
        margin-top: -47px !important;
    }

    .header-btn h4 a{
       font-weight: 700;
        font-size: 15px;
    }
    .whatsapp-link{
        right: 2px !important;
        z-index: 999;
        /*top: 480px !important;*/
    }

    #fixed-social {
        position: fixed;
        top: 59px;
        right: 0;
        z-index: 999;
    }

    .header-btn .signup-signin{
        position: relative;
        top: 50px;
        cursor: pointer !important;
        /*width: 37% !important;*/
        width: 23% !important;
        font-size: 13px;
    }
    .header-btn .signup-signin-mobile{
         display: block;
        margin: auto;
        width: 40%;
    }

    .form-section{
        padding-top: 70px;
    }

    .header-btn .signup-signin-web{
        display: none;
    }
    .signup-form .cstm-control{
        margin-bottom: 16px !important;
    }
    .service-content h6{
        font-size: 13px !important;
    }
    .trending-links span{
        padding-left: 0px !important;
    }
    .form{
        display: block;
        margin:0 auto;
    }
    .services-widget{
        margin: 0 auto;
    }
    .header-btn .btn-order-now{
        /*width: 37% !important;*/
        width: 23% !important;
        font-size: 13px;
    }
    .login-mobile-hide{
        display: none;
    }

    .login-web-hide{
        display: block;
    }

    .service-section-web{
        display: none;
    }


    .service-section-mobile{
        display: block !important;
    }

    /*padding for table height*/
    #myTabJust .price-tabs .nav-link.active{
        height: 50px;
        padding: 15px 0px;
    }
    .order-page-sec-call{
        margin-bottom: 60px !important;
    }
    .top-header-register-section{
        position: relative;top: -20px !important;z-index: 999;
    }
    .main-section{
        position: relative;
        /*top: -95px;*/
    }
    .header-regist-btn .btn-register-order-now{
        width: 27% !important;
        position: relative;
        top: -62px;
    }
    .user-register-signup-section {
        padding: 25% 15%;
    }
    #conditions ul{
        font-size: 16px !important;
    }
    #conditions strong{
        font-size: 20px !important;
    }
    #conditions .text-justify {
        font-size: 16px !important;
    }

}



@media screen and (min-width:768px) {
    .order-form .cstm-control {
         height: 55px;
     }

    .top-header-register-section{
        top: 5px !important;
    }
}

@media screen and (max-width:991px){
    .header-btn .signup-signin{
        width: 50%;
    }

    .header-btn .btn-order-now{
        width: 50%;
    }
    .call-section{
        display: block;
        margin: 0 auto;
    }

}

@media screen and (max-width:600px) {
    .user-register-signup-section {
        padding: 30% 15%;
    }
    .services-widget {
        display: block;
        margin: 0 auto;
    }
    .user-signup-form-section {
        padding: 25% 10%;

    }
    .Sub-service-text {
        text-align: center;
    }
    .footer ul {
        display: block;
        padding: 0;
    }
    .footer .drop-btn {
        display: block;
        padding: 0;
    }
    .desktop-view-hide {
        display: block !important;
    }
    .tab-hide {
        display: none !important;
    }
    .sub-service-block {
        display: none;
    }
    .footer ul li {
        display: inline-flex;
    }
    .service-section .main-heading h2{
        font-size: 25px !important;
    }
    .ratelist-section .main-heading h2{
        font-size: 25px !important;
    }
    .about-section .main-heading h2{
        font-size: 25px !important;
    }
}

@media (min-width:768px) and (max-width:992px){
    .user-register-signup-form-section {
        padding: 25% 15%;
    }
    .user-register-signup-section{
        padding: 25% 15%;
    }
    .custom-navbar .cstm-nav li {
        padding-left: 4px;
        font-size: 14px;
        font-weight: 600;
    }
    .header-btn .signup-signin-web{
        width: 25%;
    }
    .desktop-hide{
        display: block !important;
    }
    .tab-hide{display:none;}

    .social-icons {
        font-size: 24px;
            }
    .footer-section .privacy-and-terms li a{font-size: 10px;}
    .cstm-caption p{display: none;}

    .user-signup-section, .user-signup-form-section{padding: 45% 15%;}
    .step1:after {
        display: none;
    }

    .step3:before {
        display: none;
    }
    .custom-navbar {
        box-shadow: none !important;
        padding: 0px 0;
    }
    .cstm-card{
        padding: 10px;
        min-height: 325px;
    }
    .cstm-card {
        padding: 10px;
        min-height: 350px;
    }
    .cstm-caption{
        display:none !important;
    }
    .cstm-tabs .nav-item {
        margin-bottom: -7px;
        width: 25%;
    }
    .left-inner-addon i {
        padding: 10px 5px !important;
    }
    .service-form .form-group .cstm-control {
        padding: 0 0 0 20px;
    }
    .service-form .cstm-btn{
        margin-left: 0;padding: 10px 20px;
    }
    .home-tab-show{
        display: block;
    }
    .home-tab-hide{
        display: none;
    }
    .form{
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    .cstm-input-control{
        width: 49% !important;
    }
    .sub-service-block {
        margin-bottom: 90px;
    }
    #conditions ul{
        font-size: 18px !important;
    }
    #conditions .text-justify {
        font-size: 18px !important;
    }
}

@media (min-width:768px) and (max-width:1200px){
    .services-widget{
        display: flex !important;
        margin: 0 auto !important;
    }
    .btn-Request-a-Call-back{
        width: 60% !important;
        display: block;
        margin: 0 auto;
        margin-top: 7px;
    }

    .form{
        padding: 10px 47px;
    }
    .service-section2{
        display: block;
    }
    .freeQuote p strong {
        font-size: 22px !important;
    }

}

@media (min-width:993px) and (max-width:1200px){
    .cstm-caption{
        top:25%;
    }
    .step1:after {
        display: none;
    }
    .desktop-hide{
        display: block !important;
    }
    .tab-hide{
        display:none;
    }
    .step3:before {
        display: none;
    }
    .cstm-card{
        min-height: 320px;
    }
    .service-form .cstm-btn{
        margin-left:0;
    }
    .sub-service-block {
        margin-bottom: 90px;
    }
}

@media screen and (max-width:412px){
    .li-list{
        padding:5px !important;
    }
    .terms-text{
        margin: 0 0 0 5px !important;
    }
    .carousel-control-next {
        right: -18px;
    }
    .carousel-control-prev {
        left: -17px;
    }
    .service-content{
        width: 100%;
    }
    .header-btn .signup-signin{
        position: relative;
        top: 50px;
        width: 28% !important;
        font-size: 12px;
    }
    .header-btn .btn-order-now {
        width: 28% !important;
        font-size: 12px;
    }
    .dataTables_filter{
        width: inherit !important;
    }

}

/*just for alignment of bottom Navbar*/
@media screen and (max-width:360px){
    .footer ul li {
        padding: 0px 6px;
    }
    .user-register-signup-form-section{
        margin-bottom: 20px !important;
    }
    .img-hide-on-mobile{
        display: none;
    }
    .freeQuote p{
        font-size: 23px;
    }
    /*.whatsapp-link{*/
        /*top: 425px !important;*/
    /*}*/


}
