@charset "UTF-8";
/*********************************************************************************

	Template Name: Karigor - Minimalist Bootstrap4 Portfolio Template
	Description: A perfect minimal template to build beautiful and unique portfolio websites. It comes with nice and clean design.
	Version: 1.0

	Note: This is style css.

**********************************************************************************/
/**************************************************************

	STYLESHEET INDEXING
	|
	|
	|___ Basic Styles
	|	|
	|	|___ Reset Styles
	|	|___ Typography
	|	|___ Animations
	|	|___ Utilities
	|
	|
	|___Elements Styles
	|	|___ Button
	|	|___ Section Title
	|	|___ Social Icons
	|	|___ Breadcrumb
	|	|___ Pagination
	|	|___ Progress Bar
	|
	|
	|___Blocks Styles
	|	|___ Header
	|	|___ Navigation
	|	|___ Hero Slider
	|	|___ Portfolio
	|	|___ Service
	|	|___ Counter
	|	|___ Pricing
	|	|___ Testimonial
	|	|___ Portfolio Details
	|	|___ Forms
	|	|___ Comments
	|	|___ Widgets
	|	|___ Team Member
	|	|___ About
	|	|___ Blog Item
	|	|___ Footer
	|	|___ Boxed Layout
	|
	|
	|___ END STYLESHEET INDEXING

***************************************************************/
/**************************************
    Basic Styles
***************************************/
/**
 * Reset Styels
 */


/**
 * Portfolio
 */
.portfolio-filters {
  margin-bottom: 25px;
  line-height: 1;
}

.portfolio-filters button {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  color: #333333;
  font-weight: 500;
  line-height: 1;
  border: 0;
  outline: 0;
  padding: 0 10px;
  margin: 0 20px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.portfolio-filters button:first-child {
  margin-left: 0;
}

.portfolio-filters button:last-child {
  margin-right: 0;
}

.portfolio-filters button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  background: none;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center right;
  -ms-transform-origin: center right;
  transform-origin: center right;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.portfolio-filters button:hover::before, .portfolio-filters button.is-checked::before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-filters {
    margin-bottom: 10px;
  }
  .portfolio-filters button {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .portfolio-filters {
    margin-bottom: 10px;
  }
  .portfolio-filters button {
    margin: 0 10px;
    margin-bottom: 10px;
  }
  .portfolio-filters button:first-child {
    margin-left: 10px;
  }
  .portfolio-filters button:last-child {
    margin-right: 10px;
  }
}

.portfolio-margin-fixer {
  margin-top: -30px;
}

.portfolio {
  position: relative;
  background: #f1f1f1;
  margin-top: 30px;
  overflow: hidden;
    height: 155px;
}

.portfolio .portfolio-image img {
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.portfolio .portfolio-content {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  padding: 30px;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.portfolio .portfolio-content a.portfolio-zoom-button {
  height: 80px;
  width: 80px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.portfolio .portfolio-content a.portfolio-zoom-button::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  background: #555555;
}

.portfolio .portfolio-content a.portfolio-zoom-button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  background: #555555;
}

.portfolio .portfolio-content a.portfolio-zoom-button:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.portfolio .portfolio-content h5 {
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 6px;
}

.portfolio .portfolio-content h5 a {
  color: #333333;
}

.portfolio .portfolio-content h5 a:hover {
  color: #000000;
}

.portfolio .portfolio-content h6 {
  margin-bottom: 0;
  letter-spacing: 2px;
  font-weight: 400;
}

.portfolio .portfolio-content h6 a {
  color: #333333;
}

.portfolio .portfolio-content h6 a:hover {
  color: #000000;
}

.portfolio:hover .portfolio-image img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.portfolio:hover .portfolio-content {
  top: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio .portfolio-content a.portfolio-zoom-button {
    height: 65px;
    width: 65px;
  }
}



