.treadmill {
	overflow: hidden;
	/*border: 1px solid #46CFB0;*/
  /*background-color:#34BC9D;*/
  padding:0 20px;
	height: 400px !important;
}

.treadmill-unit {
	overflow: hidden;
	position: relative;

}
